.upload-video {
  width: 500px;
  height: 200px;
  border: 2px dotted black;
  background-color: #F0F0F0;
  border-radius: 20px;
  margin: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.await-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.await-upload__label {
  font-weight: normal;
  font-size: 30px;
}

.await-upload__instruction {
  width: 400px;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
